<app-sejm></app-sejm>


  <!-- <app-counter 
    [cVal]="counterService.value" 
    [cMax] = 15
    [title]="'Kto lubi kawę'"
  >
    <p class="card-text">Są ludzie, którzy bardzo nie lubią herbatki. A inni, jak Ci poniżej, wolą pić kawę</p>
    <h4 class="my-color card-title">Kto lubi kawkę</h4>
  </app-counter> -->

  <br>

  <!-- Osoby ktore lubią kawę<app-counter [cVal]="counterService.value"></app-counter> -->

  <!-- <p class="my-color">Wartość z serwisu: {{counterService.value}}</p> -->

  <!-- <button class="btn btn-primary" (click)="incCounter()">INC counter (service)</button> -->